{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href = "{% static 'css/chat.css' %}">

<div>
	<div id = "user-list">
	Available users:<br>
	</div>
</div>
<body>
	<div class = "messages" id="chat-log"></div>
	<input style="width: calc(100% - 85px);" id="chat-message-input" type="text" placeholder = "Type your message here..." size="100" maxlength="500">
	<input style="width:80px;" id="chat-message-submit" type="button" value="Send">
	<script>
		const queryString = window.location.search;
		const urlParams = new URLSearchParams(queryString);
		let receiver = urlParams.get('username')+"";
		if(receiver == null) receiver = '';
		let sessionKey = '{{ request.session.session_key }}';
		let currentUser = '{{ request.user.username }}';
		let userimg = '{{request.user.user_img.url }}';	
	</script>
	<script src = "{% static 'js/main.js' %}"></script>
</body>

<br>
<a href="{% url 'dashboard' %}">Back to dashboard</a>
<a href="{% url 'userlist'%}">Back to user list</a>

{% endblock %}
