{% extends 'base.html' %}

{% load static %}

{% block content %}

<div>
<h3> User info: </h3>
Username: {{ user.username }}
<br>
Name: {{ user.first_name }}
{{ user.last_name }}
<br>
Status: {{ user.status }}
<br>
Birthday: {{ user.date_of_birth }}
<br>
Profile Picture: <img width="100" height="100" src = "{{ user.user_img.url }}" alt="img">
<br>
<div id = "follower"></div>
<div id = "following"></div>
{% if editPerms %}
<a href="{% url 'logout' %}">Logout</a>
<a href="{% url 'password_change' %}">Change password</a>
<a href="{% url 'edit_profile' username %}">Edit profile</a>
{% else %}
<a href="{% url 'chat' %}?username={{ user.username }}"> Chat with this user</a>
<div id = "follow-button"></div>

</div>

<script>
let currentUser = '{{ request.user.username }}';
let targetUser = '{{ user.username }}';
</script>
<script src = "{% static 'js/follow.js' %}"></script>
{% endif %}

{% endblock %}
